@import url('https://fonts.googleapis.com/css2?family=Didact+Gothic&family=Sedgwick+Ave+Display&display=swap');

body {
    background-image: url(./img/Harry-Potter.png); /* coloca imagem de fundo*/
    background-repeat: no-repeat; /*não repete o fundo*/
    background-size: cover;
    color: aliceblue;

}

h1 {
    font-family: 'Sedgwick Ave Display', cursive;
    color: rgb(163, 113, 209, 0.8);

}

forms {
    font-family: 'Didact Gothic', sans-serif;
}

textarea {
    resize: none;
}

fieldset {
    width: 500px;
}

.Formulário_inteiro {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}